* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height:100%;
  background-image: url("./images/background6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track{
  background: #e28ee2;;
}
body::-webkit-scrollbar-thumb{
  background-color: #7c6ed6;
  border-radius: 112px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.head {
  padding-top: 44px;
  width: 400px;
  margin: 0 auto;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
}
.head input {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #201a1a;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.head button {
  border: none;
  outline: none;
  background: transparent;
  color:rgb(187, 97, 199)
}
.head input::placeholder {
  color: #1f1d1d;
  letter-spacing: 1.5px;
}

.head input:hover,
.head input:focus {
  padding: 12px 0;
  outline: 0;
  border: 2px solid transparent;
  border-bottom: 2px solid #020335;
  border-radius: 0;
  background-position: 100% center;
}
.footer {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  background: transparent;
  color: #020435;
  position: relative;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.footer span {
  align-content: center;
}
.week_card {
  align-items: center;
  color: #040429;
/* background-color: rgb(59, 116, 13); */
  border-bottom: 1px solid #020335;
  border-right:1px solid #020335 ;
  border-bottom-right-radius:10px ;
  border-bottom-left-radius:10px ; 
}
.day{
  color:#c42b16;
  font-weight: 700;
  font-size: 23px;
  border:1px solid transparent;
  border-radius: 222px;
  background-color: #df5ceb;
  text-align: center;
}
.description{
  font-size: 17px;
  font-weight: 900;
}
.min_max{
  font-size: 20px;
}
